h1, h2, h3, h4, h5, h6 {
    line-height: 1.15;
    font-weight: 600;
    color: #252830;
    font-family: 'Open Sans',sans-serif;
    -webkit-font-smoothing: antialiased;
    word-spacing: 0px;
}

h2 {
    font-size: 1.4em;
    margin: 0.8em 0 0.45em 0;
}

pre {
    font-size: 15px;
    margin-bottom: 1.8em;
    background: #F6F6F6;
    padding: 15px 2.5%;
    overflow: auto;
    border: 1px solid #eaeaec;
    font-family: Consolas,Menlo,Monaco,"Lucida Console",Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,"Courier New",Courier,monospace;
}

pre.prettyprint {
    padding: 5px;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    margin-bottom: 10px;
    background-color: #eee;
    overflow: auto;
    width: auto;
    width: 650px !ie7;
    padding-bottom: 20px !ie7;
    max-height: 600px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    min-width: 70%;
    max-width: 100%;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    overflow: scroll;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    }

caption {
    display: table-caption;
    text-align: -webkit-center;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table th {
    font-weight: normal;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 14px;
    background-color: #EAEAEC;
    font-size: 17px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table td, table th {
    border: 1px solid #EAEAEC;
    padding: 10px 8px 9px 10px;
}

p var, p code, li var, li code, table var, table code {
    font-size: 0.86em;
    font-family: Menlo,Consolas,'Open Sans',sans-serif;
    background: #EFF0F1;
    padding: 1px 5px;
    border-radius: 2px;
    font-weight: 300;
}

p code.prettyprint{padding:1px 5px 1px 5px;}
.str{color:maroon;}
.kwd{color:#00008b;}
.com{color:gray;}
.typ{color:#2b91af;}
.lit{color:maroon;}
.pun{color:#000;}
.pln{color:#000;}
.tag{color:maroon;}
.atn{color:red;}
.atv{color:blue;}
.dec{color:purple;}
@media print{.str{color:#060;}
.kwd{color:#006;font-weight:bold;}
.com{color:#600;font-style:italic;}
.typ{color:#404;font-weight:bold;}
.lit{color:#044;}.pun{color:#440;}
.pln{color:#000;}
.tag{color:#006;font-weight:bold;}
.atn{color:#404;}
.atv{color:#060;}
